<div class="container">
  <h1>Modifier Administrateur</h1>
  <form [formGroup]="adminForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" class="form-control" id="nom" formControlName="nom">
    </div>
    <div class="form-group">
      <label for="prenom">Prénom:</label>
      <input type="text" class="form-control" id="prenom" formControlName="prenom">
    </div>
    <div class="form-group">
      <label for="email">Adresse Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Numéro de téléphone:</label>
      <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber">
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
</div>
