.container {
  max-width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex; /* Utiliser Flexbox */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  flex-direction: column; /* Aligner les éléments en colonne */
}
.tag {
  display: inline-block;
  margin-right: 5px;
}

.remove-tag {
  font-size: 12px; /* Redéfinir la taille du bouton */
  padding: 0 5px; /* Ajouter un peu d'espace intérieur pour le bouton */
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
select,
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur totale */

}

button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #2c216e; /* Couleur bleue */
  color: white;
  border-radius: 5px; /* Coins arrondis pour les boutons */
}

.btnAjouter {
  margin-top: 20px; /* Ajout d'une marge au-dessus du bouton */
  width: 100%; /* Largeur maximale */
}
.options-container {
  margin-top: 20px;
  width: 100%;
}

.options-container input[type="text"] {
  margin-bottom: 10px;
}
.option-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.option-group input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.option-group input[type="checkbox"] {
  margin-left: 10px;
}