.sidebar {
  width: 250px;
  background-color: #f0f0f0;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #1b2552;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  align-items: center;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

.add-admin-button {
  text-align: center;
  margin-top: 20px;
}

.add-admin-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2c216e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-admin-button a:hover {
  background-color: #2c216e;
}

.actions {
  display: flex;
  gap: 10px; /* Espace entre les boutons */
}

.actions button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

/* Style pour le bouton Modifier */
.actions button.changePwd {
  background-color: #2c6db9; /* Bleu */
  color: white;
}

/* Style pour le bouton Supprimer */
.actions button.supprimer {
  background-color: #ffcc00; /* Jaune */
  color: black;
}
