<div class="container">
    <h2 class="title">Bienvenue !</h2>
    <p class="info">Veuillez suivre ces instructions avant de commencer votre test technique :</p>
    <ol class="instructions">
        <li class="instruction">Vous avez un seul accès au test. Si vous rencontrez un problème, veuillez contacter le responsable des ressources humaines.</li>
        <li class="instruction">Vous disposez d'un temps précis pour passer le test, à ne pas dépasser.</li>
        <li class="instruction">Assurez-vous de lire attentivement chaque question et de sélectionner la réponse appropriée.</li>
        <li class="instruction">En cas de problème technique, veuillez utiliser le bouton ci-dessous pour contacter notre responsable RH.</li>
    </ol>

    <br/><br/>

    <button class="start-button" (click)="lancerTest()">Commencer le test</button>
    <button class="contact-button" (click)="contactRH()">Contacter le responsable RH</button>
</div>
