.statistics-dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.chart-container {
  width: 100%;
  max-width: 400px; /* Réduire la taille maximale pour éviter que les conteneurs se chevauchent */
  margin: 0 auto; /* Centrer le conteneur horizontalement */
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.chart-title {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.statistics-dashboard ngx-charts-bar-vertical,
.statistics-dashboard ngx-charts-bar-horizontal,
.statistics-dashboard ngx-charts-pie-chart,
.statistics-dashboard ngx-charts-number-card {
  width: 100%;
  height: 300px; /* Ajuster la hauteur pour éviter que les conteneurs ne soient trop grands */
}

/* Styles pour améliorer la lisibilité des labels et tooltips */
ngx-charts text {
  fill: #000 !important;
  font-size: 14px !important;
  font-weight: bold;
}

/* Styles pour les tooltips */
ngx-tooltip,
ngx-charts-tooltip-area {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: 10px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-tooltip {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  padding: 10px !important;
}

ngx-charts .legend-label {
  color: #000 !important;
  font-size: 14px !important;
  font-weight: bold;
}
